<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-2xl">News</h1>
    <p-button label="Create News" icon="pi pi-plus" (onClick)="createNews()" />
  </div>

  <input pInputText type="text" placeholder="Search news..." (input)="onSearchChange($event)" class="w-full mb-4" />

  @if (news().length === 0 && !loading()) {
  <div class="flex flex-col justify-center items-center py-12 text-center">
    <i class="mb-3 text-gray-400 text-5xl pi pi-video"></i>
    <p class="mb-2 text-gray-600 text-lg">No news found</p>
    <p class="mb-4 text-gray-500 text-sm">Get started by creating your first news</p>
    <p-button label="Create News" icon="pi pi-plus" (onClick)="createNews()" />
  </div>
  } @else {
  <p-dataview
    [value]="news()"
    [lazy]="true"
    [paginator]="true"
    [rows]="pageSize()"
    [totalRecords]="totalRecords()"
    [loading]="loading()"
    [first]="(pageNumber() - 1) * pageSize()"
    [rows]="pageSize()"
    (onLazyLoad)="onPageChange($event)"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[4, 8, 12, 16]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} news"
    >
    <ng-template #list let-items>
      <div class="gap-4 grid grid-cols-12 mb-8">
        @for (newsItem of items; track $index) {
        <div class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
          <app-news-card [newsItem]="newsItem" (edit)="editNews(newsItem)"
            (delete)="deleteNews(newsItem.id)"></app-news-card>
        </div>
        }
      </div>
    </ng-template>
  </p-dataview>
  }
</div>

<!-- Toast & Confirm Dialog -->
<p-toast />
<p-confirmDialog />

@if (isDialogVisible()) {
<p-dialog [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '700px' }" [focusOnShow]="false">
  <!-- header -->
  <ng-template pTemplate="header">
    <h2 class="m-0 text-lg font-bold">
      @if (selectedNewsItem()) {
      Edit News
      } @else {
      Create News
      }
    </h2>
  </ng-template>
  <app-news-form [newsItem]="selectedNewsItem()" (save)="onDialogSave($event)"
    (cancel)="isDialogVisible.set(false)"></app-news-form>
</p-dialog>
}
